$color_green: #52ae32;
$color_red: #e30613;
$color_grey: #dadada;

.navbar {
  background-color: $color_grey !important;
}

.card{
  .card-img-overlay {
    text-align: center;
  }
  .card-title{
    margin-top: 10%;
  }
  h1{
    font-size: 100px;
  }

  .icon{
    margin: 19px;
    transition: .5s;
  }
  .card-text{
    font-size: 30px;
  }
}

.components {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  margin: 20px;
  img{
    width: 25%;
    transition: .5s;
  }
  img:hover{
    width: 30%;
  }
  .components-body {
    width: 40%;
  }
  h4 {
    color: $color_green;
  }
}

.description{
  text-align: center;
  padding: 15px;
  h2{
    color: $color_red;
  }
}

.menu-button{
  text-align: center;
}

.list-unstyled{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  .media{
    width: 35%;
    margin: 30px;
  }
    .mr-3{
      border-radius: 50%;
      transition: .5s linear;
    }
    .mr-3:hover{
      border-radius: 0%;
    }
     h4{
      color: $color_green;
     }
     h5{
      color: $color_red;
     }
}

.reservation{
  background-color: $color_grey;
  text-align: center;
  padding: 40px;
  .form-row{
    justify-content: center;
  }
}

.text-center {
  color: $color_green;
}

.gallery{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  img{
    margin: 20px;
    transition: 1s linear;
  }
  img:hover{
    width: 50%;
  }
}

footer{
  margin-top: 20px;
  padding: 15px;
  background-color: $color_green;
  display: flex;
  justify-content: center;
  .footer{
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
    h6{
      color: white;
      font-weight: bold;
      text-align: center;
    }
     p{
    text-align: center;
     }
}

@media (min-width: 300px) {
  .card h1 {
   font-size: 40px;
  }
  .list-unstyled .media {
    width: 80%;
  }
  .components{
    flex-wrap: wrap;
    img{
      width: 50%;
      margin-bottom: 15px;
    }
    .components-body{
      width: 80%;
    }
  }
}

@media (min-width: 768px) {
  .card h1 {
    font-size: 60px;
  }
  .list-unstyled .media {
    width: 80%;
  }
  .components{
    img{
      width: 40%;
      margin-bottom: 15px;
    }
    .components-body{
      width: 40%;
    }
  }
}

@media (min-width: 992px) {
  .card h1 {
    font-size: 80px;
  }
  .list-unstyled .media {
    width: 70%;
  }
  .components{
    img{
      width: 25%;
    }
    .components-body{
      width: 40%;
    }
  }
}

@media (min-width: 1200px) {
  .card h1 {
    font-size: 100px;
    transition: .5s;
  }
  .card h1:hover{
    font-size: 150px;
  }
  .list-unstyled .media {
    width: 35%;
  }
  .components{
    img{
      width: 25%;
    }
    .components-body{
      width: 40%;
    }
  }
}