.navbar {
  background-color: #dadada !important;
}

.card .card-img-overlay {
  text-align: center;
}
.card .card-title {
  margin-top: 10%;
}
.card h1 {
  font-size: 100px;
}
.card .icon {
  margin: 19px;
  transition: 0.5s;
}
.card .card-text {
  font-size: 30px;
}

.components {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  margin: 20px;
}
.components img {
  width: 25%;
  transition: 0.5s;
}
.components img:hover {
  width: 30%;
}
.components .components-body {
  width: 40%;
}
.components h4 {
  color: #52ae32;
}

.description {
  text-align: center;
  padding: 15px;
}
.description h2 {
  color: #e30613;
}

.menu-button {
  text-align: center;
}

.list-unstyled {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.list-unstyled .media {
  width: 35%;
  margin: 30px;
}
.list-unstyled .mr-3 {
  border-radius: 50%;
  transition: 0.5s linear;
}
.list-unstyled .mr-3:hover {
  border-radius: 0%;
}
.list-unstyled h4 {
  color: #52ae32;
}
.list-unstyled h5 {
  color: #e30613;
}

.reservation {
  background-color: #dadada;
  text-align: center;
  padding: 40px;
}
.reservation .form-row {
  justify-content: center;
}

.text-center {
  color: #52ae32;
}

.gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.gallery img {
  margin: 20px;
  transition: 1s linear;
}
.gallery img:hover {
  width: 50%;
}

footer {
  margin-top: 20px;
  padding: 15px;
  background-color: #52ae32;
  display: flex;
  justify-content: center;
}
footer .footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
footer h6 {
  color: white;
  font-weight: bold;
  text-align: center;
}
footer p {
  text-align: center;
}

@media (min-width: 300px) {
  .card h1 {
    font-size: 40px;
  }

  .list-unstyled .media {
    width: 80%;
  }

  .components {
    flex-wrap: wrap;
  }
  .components img {
    width: 50%;
    margin-bottom: 15px;
  }
  .components .components-body {
    width: 80%;
  }
}
@media (min-width: 768px) {
  .card h1 {
    font-size: 60px;
  }

  .list-unstyled .media {
    width: 80%;
  }

  .components img {
    width: 40%;
    margin-bottom: 15px;
  }
  .components .components-body {
    width: 40%;
  }
}
@media (min-width: 992px) {
  .card h1 {
    font-size: 80px;
  }

  .list-unstyled .media {
    width: 70%;
  }

  .components img {
    width: 25%;
  }
  .components .components-body {
    width: 40%;
  }
}
@media (min-width: 1200px) {
  .card h1 {
    font-size: 100px;
    transition: 0.5s;
  }

  .card h1:hover {
    font-size: 150px;
  }

  .list-unstyled .media {
    width: 35%;
  }

  .components img {
    width: 25%;
  }
  .components .components-body {
    width: 40%;
  }
}

/*# sourceMappingURL=style-10.css.map */
